body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Roboto Mono', sans-serif;
}

.div-header{
    background-image: url(https://images.pexels.com/photos/2039642/pexels-photo-2039642.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    min-height: 100vh;
    background-size: cover;
}

.menu {
    flex: 1;
    font-size: 1.3em;
    text-align: right;
    margin-right: 70px;
    margin-left: -270px;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    line-height: 70px;
}

.div-nav{
    border-bottom: 1px solid #EAEAEB;
    height: 70px;
    line-height: 70px;
    display: flex;
    min-width: 100vw;
    flex-wrap: wrap;    
    background-color: #212529;
  
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
}

.space-name{
    padding-left: 70px;
    font-size: 1.6em;
    flex: 1;
}

.a-noformation{
    text-decoration: none;
    list-style: none;
    color: white;

}

.container {
    display: flex;
}

.item {
    flex: 1;
    text-decoration: none;
    list-style: none;
    color: white;
}

.img-size-wesley{
    margin-top: 180px;
    width: 220px;
    height: 220px;
}

.center{
    text-align: center;
}

.circle{
    border: solid 1px white;
    border-radius: 125px; 
}

.phrase{
    margin-top: 25px;
    font-size: 3em;
    color: white;
}

.name{
    margin-top: 25px;
    font-size: 2em;
    color: white;
    font-style: italic;
}

.div-line{
    text-align: center;
}

.div-line div{
    margin-bottom: 75px;
}

.div-size-about{
    width: 300px;
    display: inline-block;
}

.left{
    text-align: left;
}

.space-magin-img{
    margin-bottom: 70px;
}

.h2-about{
    font-size: 3.4em;
    color: #212529;
    padding-top: 0;
    margin: 0;
    
}
/* .h2-projects{
    font-size: 3.4em;
    color: #212529;
    margin-top: 150px;
    margin-bottom: 0
} */
.h3-titration{
    font-size: 1.5em;
    font-style: italic;
    color:  rgb(112, 117, 117);
}

.h4-title-about{
    font-size: 2em;
}

.paragraph-gray{ 
    color: rgb(112, 117, 117);
    font-weight: 300;
    font-size: 1.16em;
    text-align: center;
    list-style: none;
}

.section-space{
    padding-top: 70px;
    padding-bottom: 70px;
}

.about{
    background-color: white;
}

.projects{
    background-color: rgb(238, 247, 247)
}

label{
    display: none;
}
#toggle{
    display: none;
}


span {
    color: white;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

.ability{
    background-color: white;

}

.img-size{
    width: 350px;
    height: 200px;
}

.img-size-habilidades{
    width: 225px;
    height: 225px;
}

.inline-objects{
    display: inline-block;
}

.img-margin{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    max-width: 100vw;
    height: 80px;
    background-color: #16191b
}

footer {
    text-align: center;
}
.footer-img-size{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    max-width: 50px;
    max-height: 50px;
}

@media only screen and (max-width: 900px) {
    label {
        display: block;
        cursor: pointer;
        color: white;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        margin: 0;
        opacity: 1;
        background-color: #212529;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        min-width: 100vw;
     
    }
    #toggle:checked + .menu {
        display: block;
    }

    .space-name{
        padding-left: 35px;
    }
    .div-nav{
        display: block;
        min-width: 100vw;    
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 0px;        
        background-color: #212529;
        opacity: 1;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
    }

    .img-size{
        width: 300px;
        height: 175px;
    }
    
    
}




